# Ignore all files
*
!*/

# Allow type
!*.yaml
!*.yml
!.gitignore
!*.txt
!*.sh
!Dockerfile
!README.md

!/omada-controller/**

# Allow specific
!Preferences.xml

# Specific file ignores
secrets.yaml
known_devices.yaml
secrets.yaml
ip_bans.yaml
known_devices.yaml

options.xml
OZW_Log.txt
zwcfg_*
zwscene.xml