# Directory (contents) allow


# Directory (contents) ignores
.cloud
.storage
deps
nginx-proxy/*

# Ignore files
*.log


# Specific file ignores
.env
secrets.yaml
ip_bans.yaml
known_devices.yaml
.uuid
options.xml
OZW_Log.txt
zwcfg_*
zwscene.xml