version: '3.1'
services:

  portainer:
    image: portainer/portainer-ce:latest
    container_name: prd-portainer
    command: -H unix:///var/run/docker.sock
    restart: always
    ports:
      - 9000:9000
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - prd-portainer_data:/data

  homeassistant:
    image: prd-home-assistant:latest
    container_name: prd-home-assistant
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    volumes:
      - ../home-automation-homeassistant-config/config:/config
    environment:
      TZ: Europe/Amsterdam
      LETSENCRYPT_HOST: homeassistant.theautomation.nl
      VIRTUAL_HOST: homeassistant.theautomation.nl
    network_mode: host
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 1m
      timeout: 10s
      retries: 3

  mariadb:
    image: mariadb:latest
    container_name: prd-mariadb
    restart: always
    volumes:
      - prd-mariadb_data:/var/lib/mysql
    environment:
      TZ: Europe/Amsterdam
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
    ports:
      - 3306:3306
    networks:
      home-automation:
        ipv4_address: 172.20.0.3
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  adminer:
    image: adminer:latest
    container_name: prd-adminer
    restart: always
    environment:
      TZ: Europe/Amsterdam
    ports:
      - 8080:8080
    networks:
      home-automation:
        ipv4_address: 172.20.0.4
    healthcheck:
      test: wget http://adminer:8080 --no-check-certificate -q -O - > /dev/null 2>&1
      interval: 1m30s
      timeout: 10s
      retries: 3

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: prd-mosquitto
    restart: always
    environment:
      TZ: Europe/Amsterdam
    volumes:
      - ./mosquitto/config/:/mosquitto/config/
      - ./mosquitto/log:/mosquitto/log
      - prd-mosquitto_data:/mosquitto/data
    ports:
      - 1883:1883
    networks:
      home-automation:
        ipv4_address: 172.20.0.5

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: prd-nginx-proxy
    restart: unless-stopped
    environment:
      TZ: Europe/Amsterdam
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx-proxy/etc/nginx/vhost.d:/etc/nginx/vhost.d
      - ./nginx-proxy/etc/nginx/certs:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - prd-nginx_data:/etc/nginx/dhparam
    networks:
      home-automation:
        ipv4_address: 172.20.0.6
 
  ssl-generator:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: prd-ssl-generator
    restart: unless-stopped
    environment:
      TZ: Europe/Amsterdam
    volumes_from:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - home-automation


  plex:
    image: plexinc/pms-docker
    container_name: prd-plex
    restart: unless-stopped
    environment:
      TZ: Europe/Amsterdam  
      PLEX_CLAIM: "${PLEX_CLAIMTOKEN}"
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    networks:
      home-automation:
        ipv4_address: 172.20.0.8
    volumes:
      - ./plex/database:/config
      - ./plex/transcode/temp:/transcode
      - ./plex/media:/data

       
# VOLUMES
volumes:

  prd-portainer_data:
    name: prd-portainer_data

  prd-mariadb_data:
    name: prd-mariadb_data
  
  prd-mosquitto_data:
    name: prd-mosquitto_data
  
  prd-nginx_data:
    name: prd-nginx_data


# NETWORKS
networks:
  home-automation:
    driver: bridge
    name: home-automation
    ipam:
      config:
        - subnet: 172.20.0.0/16